{% extends 'layout/basic.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/account.css' %}">
{% endblock %}

{% block title %}用户登录{% endblock %}

{% block contant %}
    <div class="container account">
        <div class="title">用户登陆</div>
{#  不对表单数据校验  #}
        <form id="smsForm" method="post" action="" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="row  form-group">
                        <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">{{ field.label }}</label>
                        <div class="col-sm-5">
                            {{ field }}
                            <span class="error-msg">{{ field.errors.0 }}</span>
                        </div>
                        <div class="col-sm-4 d-grid div-code">
                            <input id="btnSms" type="button" class="btn btn-secondary btn-code" value="发送验证码"/>
                        </div>
                    </div>
                {% else %}
                    <div class="row  form-group">
                        <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">{{ field.label }}</label>
                        <div class="col-sm-9">
                            {{ field }}
                            <span class="error-msg">{{ field.errors.0 }}</span>
                        </div>

                    </div>
                {% endif %}
            {% endfor %}

            <div class="d-grid gap-2">
            {#不能写submit类型否则会跳转到新界面 因为要通过ajax提交  不影响倒计时#}
                <input id="btnLogin" value="登录" type="button" class="btn btn-primary">
                <input value="新用户注册" type="button" class="btn btn-outline-primary" onclick="window.location.href='/register/'">
            </div>
            <div style="margin-top: 5px">
                <a href="{% url 'login' %}" style="text-decoration-line: none">账户密码登录</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function(){
            bindClickBtnSms()
            bindClickBtnLogin()
        });
        function bindClickBtnSms(){
            $('#btnSms').click(function (){
                {#将所有错误信息置为空#}
                $('.error-msg').empty()
                {#获取csrf_token#}
                const regex = /.*csrftoken=([^;.]*).*$/;
                let xCSRFToken = document.cookie.match(regex) === null ? null : document.cookie.match(regex)[1]

                let phone = $('#id_phone').val();
                {#发送ajax请求，将手机号发送到后台#}
                $.ajax({
                    url:"{% url 'send_sms' %}",
                    type:"POST",
                    data:{
                        phone:phone,
                        tpl:"login"
                    },
                    {#将服务端返回的数据反序列化为字典#}
                    dataType:"JSON",
                    headers: {
                        "X-CSRFToken": xCSRFToken
                    },
                    {#ajax请求发送成功后自动回调,res就是后段返回到值#}
                    success:function (res){
                        console.log(res);
                        {#如果后段返回成功#}
                        if(res.status){
                            sendSmsDelay()
                            console.log('发送成功');
                        }else{
                            $.each(res.error, function (k,v){
                                {#找到当前元素的下一个元素（即对应的错误信息span）并添加错误信息#}
                                console.log(v[0]);
                                $("#id_"+k).next().text(v[0]);
                            })
                        }
                    }
                })
            })
        }
        {#倒计时#}
        function sendSmsDelay(){
            let $smsBtn = $("#btnSms")

            $smsBtn.prop('disabled',true)
            let time = 60
            let remind = setInterval(function (){
                $smsBtn.val('重新发送('+time+'s)')
                time = time - 1
                if (time < 1){
                    clearInterval(remind)
                    $smsBtn.val('重新发送').prop('disabled', false)
                }
            }, 1000)
        }

        function bindClickBtnLogin() {
            $('#btnLogin').click(function (){
                $('.error-msg').empty()
                {#收集表单中的数据#}
                {#ajax发送到后台#}
                {#获取到表单的所有键值，还能携带CSRF_Token#}
                let data = $('#smsForm').serialize()
                console.log(data)
                $.ajax({
                    data: data,
                    type: 'POST',
                    url: '{% url 'login_sms' %}',
                    dataType: "JSON",
                    success:function (res){
                        console.log(res)
                        if(res.status){
                            console.log('注册成功');
                            location.href = res.data
                        }else{
                            $.each(res.error, function (k,v){
                                {#找到当前元素的下一个元素（即对应的错误信息span）并添加错误信息#}
                                console.log(v[0]);
                                $("#id_"+k).next().text(v[0]);
                            })
                        }
                    },
                })
            })
        }
    </script>
{% endblock %}